<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách nhân viên</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/app/views/admin/createaccount.css">
</head>

<body>
    <div class="container">
        <div class="staff_management">
            <div class=create-customer>
                <p class="breadcrumb">Danh sách khách hàng → <span>Tạo tài khoản</span></p>
                <div class="form-box">
                    <h2>Thêm tài khoản</h2>
                    <form>
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input type="text" placeholder="Nhập tên tài khoản">
                        </div>

                        <div class="form-group">
                            <i class="fa fa-envelope"></i>
                            <input type="email" placeholder="Nhập Email tài khoản">
                        </div>

                        <div class="form-group">
                            <i class="fa fa-phone"></i>
                            <input type="text" placeholder="Nhập số điện thoại">
                        </div>

                        <div class="form-group">
                            <i class="fa fa-lock"></i>
                            <input type="password" placeholder="Nhập mật khẩu">
                        </div>
                        <button type="submit" class="btn-submit">Tạo tài khoản</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="list-employee">
        <div class="header">
            <h1>Danh sách nhân viên</h1>
            <div class="actions">
                <input type="text" placeholder="Tìm kiếm">
                <button><a href="/app/views/admin/createaccount.php"> + Tạo tài khoản</a></button>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>SĐT</th>
                </tr>
            </thead>
            <tbody>
                <tr class="user-row" data-username="user01">
                    <td>1</td>
                    <td>user01</td>
                    <td>user01@email.com</td>
                    <td>0111111111</td>
                </tr>
                <tr class="user-row" data-username="user02">
                    <td>2</td>
                    <td>user02</td>
                    <td>user02@email.com</td>
                    <td>0222222222</td>
                </tr>
                <tr class="user-row" data-username="user03">
                    <td>3</td>
                    <td>user03</td>
                    <td>user03@email.com</td>
                    <td>0333333333</td>
                </tr>
                <tr class="user-row" data-username="user04">
                    <td>4</td>
                    <td>user04</td>
                    <td>user04@email.com</td>
                    <td>0444444444</td>
                </tr>
                <tr class="user-row" data-username="user05">
                    <td>5</td>
                    <td>user05</td>
                    <td>user05@email.com</td>
                    <td>0xxxxxxxxx</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
    </script>
</body>

</html>